:root {
  --coordinataY: 300px;
  --timeDropDown: 10s;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(assets/fonts/Lato/Lato-Bold.woff);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(assets/fonts/Lato/Lato-BoldItalic.woff);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(assets/fonts/Lato/Lato-Black.woff);
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(assets/fonts/Lato/Lato-Regular.woff);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(169, 201, 248);
}

.main {
  width: 1020px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.fieldPlay {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: rgb(97, 121, 223);
  background: linear-gradient(
    0deg,
    rgba(97, 121, 223, 1) 0%,
    rgba(97, 201, 223, 1) 15%,
    rgba(97, 220, 223, 1) 36%,
    rgba(177, 252, 248, 1) 57%,
    rgba(229, 249, 248, 1) 81%
  );
}

.drop {
  width: 70px;
  height: 70px;
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 40%;
  transition: all var(--timeDropDown) ease-in-out;
  -webkit-transition: all var(--timeDropDown) ease-in-out; /** Chrome & Safari **/
  -moz-transition: all var(--timeDropDown) ease-in-out; /** Firefox **/
  -o-transition: all var(--timeDropDown) ease-in-out; /** Opera **/
}

.operator {
  font-size: 30px;
}

.dropContainerNumbers {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.drop.move-down {
  transform: translateY(var(--coordinataY));
  -webkit-transform: translateY(var(--coordinataY));
  -o-transform: translateY(var(--coordinataY));
  -moz-transform: translateY(var(--coordinataY));
}

.drop.hidden {
  display: none;
}

.wrapper_button {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 120px;
  height: 60px;
  font-family: 'Lato-BoldItalic';
  font-size: 16px;
  border-radius: 50%;
  outline: none;
  background-color: rgba(248, 59, 59, 0.8);
  border: 2px solid rgba(248, 59, 59, 0.6);
  color: #f5f821d0;
}

button:active {
  background-color: rgba(248, 59, 59, 0.4);
  color: #f5f821;
}

.stones {
  width: 100%;
  height: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.stone__1 {
  display: block;
  width: 50px;
  height: 50%;
  background: rgb(30, 30, 31);
  background: linear-gradient(
    0deg,
    rgba(30, 30, 31, 1) 1%,
    rgba(42, 46, 50, 1) 28%,
    rgba(72, 78, 77, 1) 62%
  );
  border-radius: 65% 35% 69% 31% / 48% 65% 35% 52%;
}

.stone__2 {
  display: block;
  width: 70px;
  height: 80%;
  background: rgb(42, 46, 50);
  background: linear-gradient(
    306deg,
    rgba(42, 46, 50, 1) 0%,
    rgba(72, 78, 77, 1) 25%,
    rgba(130, 196, 185, 1) 55%
  );
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.stone__3 {
  display: block;
  width: 110px;
  height: 100%;
  background: rgb(37, 56, 74);
  background: linear-gradient(
    49deg,
    rgba(37, 56, 74, 1) 2%,
    rgba(41, 79, 73, 1) 34%,
    rgba(26, 106, 93, 1) 68%
  );
  border-radius: 46% 54% 53% 47% / 77% 78% 22% 23%;
}

.stone__4 {
  display: block;
  width: 70px;
  height: 80%;
  background: rgb(39, 119, 195);
  background: linear-gradient(
    126deg,
    rgba(39, 119, 195, 1) 2%,
    rgba(41, 79, 73, 1) 44%,
    rgba(176, 200, 209, 1) 68%
  );
  border-radius: 46% 54% 53% 47% / 77% 41% 59% 23%;
}

.stone__5 {
  display: block;
  width: 50px;
  height: 50%;
  background: rgb(30, 30, 31);
  background: linear-gradient(
    0deg,
    rgba(30, 30, 31, 1) 1%,
    rgba(42, 46, 50, 1) 28%,
    rgba(72, 78, 77, 1) 62%
  );
  border-radius: 46% 54% 53% 47% / 32% 55% 45% 68%;
}

.wave {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(124, 133, 237, 0.4),
    rgba(120, 135, 231, 0.45),
    rgba(117, 136, 225, 0.5),
    rgba(113, 138, 219, 0.55),
    rgba(110, 139, 213, 0.6),
    rgba(106, 141, 207, 0.55),
    rgba(99, 124, 207, 0.5),
    rgba(92, 108, 206, 0.45),
    rgba(85, 91, 206, 0.4),
    rgba(77, 74, 205, 0.45),
    rgba(70, 58, 205, 0.5),
    rgba(54, 42, 131, 0.55)
  );
  overflow-x: hidden;
}

.wave_animation {
  display: block;
  width: 140%;
  height: 100%;
  animation: 4s linear 0s infinite alternate maveAnimation;
  animation-play-state : paused;
}

@keyframes maveAnimation {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

.entryField {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(205, 237, 243);
}

.star img {
  width: 30px;
  height: 30px;
  padding-right: 15px;
}

.score {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.window__score {
  width: 70%;
  height: 30%;
  border-bottom: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 233, 245);
}

.score::before {
  content: '';
  width: 10%;
  height: 30%;
  margin: 0;
  padding: 0;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
  background-color: rgb(201, 233, 245);
}

.score::after {
  content: '';
  width: 10%;
  height: 30%;
  margin: 0;
  padding: 0;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  background-color: rgb(201, 233, 245);
}

.score__number {
  font-family: 'Lato-Black';
  font-size: 25px;
  color: red;
}

.controlPanel {
  width: 80%;
  height: 65%;
  background-color: rgb(235, 220, 200);
  box-shadow: 0 0 5px rgba(143, 136, 136, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen {
  border: 0.5px solid gray;
  width: 91%;
  height: 20%;
  border-radius: 10px 10px 0 0;
  background-color: rgba(212, 198, 245, 0.712);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Lato-Bold';
  font-size: 30px;
  overflow: hidden;
}

.keys {
  width: 92%;
  height: 70%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.key__number {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Lato-Bold';
  font-size: 40px;
}
.key__word {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key {
  width: 32%;
  border: 1px solid gray;
  background-color: rgb(239, 253, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

.key:hover {
  cursor: pointer;
}

.key:active {
  background-color: rgba(239, 253, 239, 0.2);
}

.key:last-child {
  font-family: 'Lato-Bold';
  font-size: 20px;
}

.key-wide {
  width: 65%;
  border: 1px solid gray;
  background-color: rgb(227, 248, 227);
  border-radius: 0 0 0 10px;
}

.key.high {
  width: 95%;
  height: 50%;
  border: 2px solid gray;
  background-color: rgb(239, 253, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato-Bold';
  font-size: 20px;
}

.key.high:last-child {
  border-radius: 0 0 10px 0;
}

.key.high:active {
  background-color: rgba(239, 253, 239, 0.2);
}

.how_to_play {
  display: none;
  position: absolute;
  width: 80%;
}

/* ---------------------------стили для экранов max-width 991px-----------------------*/

@media screen and (max-width: 991px) {

  .main {
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .drop {
    width: 60px;
    height: 60px;
    left: 35%;
  }

  .operator {
    font-size: 24px;
  }
  
  .dropContainerNumbers {
    font-size: 20px;
  }

  button {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }

  .stones {
    height: 80px;
  }
  
  .stone__1 {
    width: 40px;
    height: 50%;
  }
  
  .stone__2 {
    width: 60px;
    height: 80%;
  }

  .stone__3 {
    width: 95px;
    height: 100%;
  }
  
  .stone__4 {
    width: 60px;
    height: 80%;
  }
  
  .stone__5 {
    width: 40px;
    height: 50%;
  }

  .wave {
    height: 90px;
  }
  
  .wave_animation {
    width: 130%;
    height: 100%;
  }
  
  @keyframes maveAnimation {
    from {
      transform: translateX(-160px);
    }
  }
  
  .star img {
    width: 25px;
    height: 25px;
    padding-right: 15px;
  }

  .window__score h2 {
    margin: 0;
    width: 60%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .window__score h2 span{
    padding-top: 3px;
  }

  .controlPanel {
    height: 50%;
  }
  
  .screen {
    width: 90.3%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .screen_number {
    margin-top: 20px;
    margin-right: 3px;
  }
  
  .keys {
    width: 92%;
    height: 70%;
    font-size: 25px;
  }
  
  .key__number {
    font-size: 30px;
  }
  
  .key {
    width: 31.5%;
  }
  
  .key:last-child {
    font-size: 18px;
  }
  
  .key-wide {
    width: 65%;
  }
  
  .key.high {
    width: 96.4%;
    height: 50%;
    font-size: 16px;
    border: 1px solid gray;
  }

}